= form_for([project, project.tasks.build]) do |f|
  .task-input
    = f.text_field :name, size: 50, placeholder: "Enter at least 6 symbols, max 255", required: "required", id: "task-input-#{project.id}"
  = f.submit "Create task", class: "btn btn-success"
