#task
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
.hidden
  display: none
ul.todo_tasks
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: column
  li
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    width: 100%
    justify-content: space-between
    margin: 10px 0
    background-color: #eee
    padding: 10px
    .body
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
    .task-name
      padding: 0 10px
    .actions
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      li
        padding: 10px 0

.task-input
  padding: 10px 0
