#task
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
.hidden
  display: none
#todo_tasks
  li
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    width: 100%
    justify-content: space-between
    margin: 10px 0
    .task-edit-form
      // position: absolute
    .crud
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      width: 20%
      justify-content: space-around
