#task
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
.hidden
  display: none
ul.todo-tasks
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: column
  li
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    width: 100%
    justify-content: space-between
    margin: 10px 0
    background-color: #eee
    padding: 10px
    .body
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      flex-direction: column
      align-items: center
      span
        cursor: grab
    .task-name
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      align-items: left
      flex-direction: column
      width: 100%
      margin: 0 20px
      .task-edit-form
        textarea
          width: 100%
    .actions
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      .task-edit
        margin-right: 10px
      .task-dead-line
        form
          display: flex
          input
            margin-right: 10px

.task-input
  padding: 10px 0
